/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

.item {
    display: block;
}
.item.hide {
    display: none;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video {
    margin: 10px;
    max-width: 45%;
    flex: 1 1 calc(50% - 20px);
}
iframe {
    width: 100%;
    height: 315px;
    border: none;
}

.player-img {
    width: 300px;
    height: 200px;
}

.flag-img {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    height: 300px;
    width: 400px;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

/* Page styles */
.page {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.active {
    display: block;
}

#searchInput {
    width: 45%;
    padding: 10px;
    margin: 20px 5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#countryFilter {
    width: 45%;
    padding: 10px;
    margin: 20px 5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}